################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/clean architecture
/.cr/personal/FavoritesList/List.xml
